:root {
}

.container {
}

.action_button {
    background-color: rgba(0, 0, 0, 0);
    border-width: 0;
    color: rgba(51, 26, 13, 1); /* Dark brown text */
    font-size: 16px;
    height: 28px;
    padding-left: 12px;
    padding-right: 12px;
    -unity-text-align: middle-left;
    align-items: flex-start;
    margin-top: 1px;
    margin-bottom: 1px;
    cursor: pointer;
}
